:host {
    display: block;
    padding: 16px;
    min-height: 100vh;
}

.juntaditas {
    margin-top: 16px;
    display: flex;
}

form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

input {
    padding: 8px;
    border-radius: 8px;
    border: none;
    outline: 1px solid #666;
    width: 100%;
}

input:focus {
    outline: 2px solid var(--color-1-light)
}