<div class="back">
    <a routerLink="/" class="btn">
        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6 12H18M6 12L11 7M6 12L11 17" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        Menu
    </a>
</div>

@if (loading || juntadita === undefined) {
    <p>Loading...</p>
} @else {
    <article class="dashboard">
        <h3 class="title">{{juntadita.name}}</h3>

        <h4>Miembros</h4>
        <ul>
            @for (member of juntadita.members; track $index) {
                <li>{{ member.username }}</li>
            }
        </ul>
    </article>
}