:host {
    display: block;
    min-height: 100vh;
    padding: 12px;
}

.back {
    padding: 12px 0;
}

.back a {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    color: var(--color-1);
    font-size: 1.2rem;
}

.back a svg {
    height: 24px;
    stroke: var(--color-1);
    aspect-ratio: 1/1;
}

.dashboard {
    padding: 16px;
    background-color: var(--white);
}

.dashboard .title {
    padding-bottom: 12px;
    margin-bottom: 12px;
    border-bottom: 1px solid #ccc;
}