:host {
    position: fixed;
    bottom: 0;
    right: 0;

    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;

    overflow-x: hidden;
}

@keyframes in {
    from {
        transform: translateX(300px);
    }
    to {
        transform: translateX(0px);
    }
}

@keyframes out {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(300px);
    }
}

.alert {
    background-color: var(--white);
    box-shadow: 0 0 12px -4px var(--black);
    padding: 12px;
    border-radius: 12px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    column-gap: 16px;

    animation-name: in;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

.alert.removed {
    animation-name: out;
}

.alert.success {
    border: 2px solid var(--green);
}
.alert.success > svg {
    fill: var(--green);
}

.alert.error {
    border: 2px solid var(--red);
}

.alert.error > svg {
    fill: var(--red);
}